.cell {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid var(--app-secondary-bg-color);
    background-color: var(--app-bg-color);
    transition: background-color 0.2s;
}

.content {
    flex: 1;
    overflow: hidden;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: var(--app-text-color);
}

.icon, .placeholderIcon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.placeholderIcon {
    border-radius: 50%;
    background-color: rgba(204, 203, 203, 0.5);
}