.searchContainer {
    display: flex;
    align-items: center;
    background-color: var(--tg-theme-bg-color);
    border-radius: 0 0 8px 8px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px 0 12px;
}

.searchInput {
    flex: 1;
    border: none;
    margin: 12px 4px 12px 4px;
    font-size: 16px;
    outline: none;
    color: var(--tg-theme-text-color);
    background: transparent;
}

.searchIcon, .clearIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: var(--tg-theme-text-color);
    animation: appearance 0.3s ease;
}

.clearIcon:hover {
    cursor: pointer;
    color: var(--tg-theme-hint-color);
}

@keyframes appearance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}