.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px
}

.text {
    font-size: 14px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
}

.placeholderText {
    width: 50%;
    height: 17px;
    border-radius: 8px;
    background-color: rgba(204, 203, 203, 0.5);
}