.section, .loading {
    overflow-x: hidden;
    margin-top: 16px;
    border-radius: 8px;
    background-color: var(--app-bg-color);
}

.title {
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    color: var(--app-section-header-text-color);
    border-bottom: 1px solid var(--app-section-bg-color);
}

.loading {
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}